h1{
    margin:0;
    color:black;
    margin:auto;
    text-align: center; 
}
@media (max-width:768px){
    .welcome{
        display:flex;
        flex-direction:column;
        position: absolute;
        text-align: end;
        align-items: center;
        margin:60% auto;
        justify-items: center;
    }
}
@media (min-width: 768px){
    .welcome{
        display:flex;
        flex-direction:column;
        position: absolute;
        text-align: end;
        align-items: center;
        margin:25% auto;
        justify-items: center;
    }
}
.welcome h1{
    margin-bottom:25px;
}

.welcome .links a{
    text-align: center;
    text-decoration: none;
    color:black;
    font-size:15px;
}

.links{
    display:flex;
    flex-direction:column;
    text-align:end;
}