
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">PiggyBank2.0</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" id="balance">
          <a class="nav-link" href="/balance">Balance <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" id="statement">
          <a class="nav-link" href="/statement">Statement</a>
        </li>
        <li class="nav-item" id="withdraw">
          <a class="nav-link" href="/withdraw">Withdraw</a>
        </li>
        <li class="nav-item" id="deposit">
          <a class="nav-link" href="/deposit">Deposit</a>
        </li>
        <li class="nav-item" id="logout">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a class="navbar-brand">{{ username }}</a></li>
      </ul>
  </nav>
  