<div class="withdraw">
    <div class="head">
        <h2>{{username}}</h2>
    </div>
    <div class="head">
        <h2>Enter the amount you want to withdraw</h2>
    </div>
    <form class="form" [formGroup]="withdrawForm" (ngSubmit)="withdraw(withdrawForm.value)">
        <input class="form-input" type="text" id="amount" placeholder="Enter amount" formControlName="amount"/>
        <button class="btn" type="submit" (click)="onclick()">Withdraw</button>
    </form>
    <p class="error-message" *ngIf="error">
        user not found please try again
    </p>
</div>